.dark{
    background-color: #2D3941 !important;
    color: rgb(249, 247, 247) !important;
}
.icon{
    width: 1.5em !important;
    height: 1.5em !important;

}
.text{
    color: whitesmoke;
}
.icons{
    width: 100%;
    /* height: 10vh; */
    background-color: rgb(240, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-icon{
    display: flex;
  flex-direction: row;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
.search{
    margin: 6px 20px;
    /* flex: 6vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(240, 241, 241);
    border-radius: 10px;
}
.search-bar{
    margin-left: 15px;
    font-size: 16px;
    border: none;
    width: 80%;
    background-color: rgb(240, 241, 241);
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.people{
    flex: 1;
    background-color: rgb(240, 241, 241);
    overflow-y: scroll;
    cursor: pointer;
}
.people::-webkit-scrollbar{
    display: none;
}
.conversation-container{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 10px;
    margin-bottom: 1px;
    /* margin: 5px; */
    /* border-bottom: 1px solid aliceblue; */
    background-color: #dcdfe2;
}
.conversation-container:hover{
    background-color: aliceblue;
}
.conversation-container:active{
    background-color: aliceblue;
}
.people-icon{
    grid-area: 1/1/3/2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(216, 219, 219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(250, 250, 241);
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.people-name{
    grid-area: 1/2/2/4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(22, 20, 20);
}
.people-timestamp{
    display: flex;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75rem;
    color: rgb(22, 20, 20);
}
.people-lastmessage{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75rem;
}
.user-icon {
    position: relative;
}

.menu {
    position: absolute;
    top: 40px;
    /* Adjust based on your layout */
    right: 0;
    z-index: 10;
}

.icon.dark {
    color: #fff;
}

.icon {
    color: #000;
}

.search-bar.dark {
    background-color: #333;
    color: #fff;
}

.search-bar {
    background-color: #fff;
    color: #000;
}